@using Domain
@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<Tag>
@inject IViewLocalizer Localizer

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="max-w-6xl mx-auto py-8">

    <h1 class="text-2xl font-bold mb-6">@Localizer["Tags"]</h1>

    <a asp-action="Create"
       class="bg-green-600 text-white px-4 py-2 rounded inline-block mb-4">
        @Localizer["Create"]
    </a>

    <table class="min-w-full bg-white dark:bg-gray-900 border dark:border-gray-800">
        <thead class="bg-gray-100 dark:bg-gray-800">
            <tr>
                <th class="px-4 py-2 text-left" ">ID</th>
                <th class="px-4 py-2 text-left" ">@Localizer["Title"] (FA)</th>
                <th class="px-4 py-2 text-left" ">@Localizer["Title"] (EN)</th>
                <th class="px-4 py-2 text-left" ">Slug</th>
                <th class="px-4 py-2 text-left" ">@Localizer["Actions"]</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var t in Model)
                {
                <tr class="border-t dark:border-gray-800">
                    <td class="px-4 py-2">@t.TagId</td>
                    <td class="px-4 py-2">@t.NameFa</td>
                    <td class="px-4 py-2">@t.NameEn</td>
                    <td class="px-4 py-2">@t.Slug</td>
                    <td class="px-4 py-2 space-x-2">
                        <a asp-action="Edit" asp-route-id="@t.TagId" class="text-blue-600">
                                @Localizer["Edit"]
                        </a>

                        <form asp-action="Delete" asp-route-id="@t.TagId" method="post" class="inline">
                            <button class="text-red-600">@Localizer["Delete"]</button>
                        </form>
                    </td>
                </tr>
                }
        </tbody>
    </table>

</div>
