@using Microsoft.AspNetCore.Mvc.Localization
@using WebApp;
@inject IHtmlLocalizer<SharedResource> loc

@{
    // var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName;
    // ViewData["Title"] = culture == "Fa" ? "محلی سازی": "Localization";
    var x = loc["Education"];
    var y = loc["Hello"];
}
<h1>@ViewData["Title"]</h1>
<h1>@loc["Home"]</h1>

@* <p>@(culture == "fa" ? "این یک متن فارسی با استفاده از محلی کردن زبان است" : "This page is for test locaization.")</p>
<p>@(culture == "fa" ? "این یک متن فارسی با استفاده از محلی کردن زبان است" : "This is a localized sentence.") </p> *@

<h2 class="text-2xl font-semibold mb-4">@loc["Education"]</h2>

<h2 class="text-2xl font-semibold mb-4">@ViewData["Second"]</h2>
